html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    
}

.cabecalho{
    background-color: rgb(35, 61, 177);
    color: white;
    padding: 30px;
    text-align: center;


}

.conteudo{
    flex: 1 0 auto;

}

.rodape{
    flex-shrink: 0;
    background-color: rgb(35, 61, 177);
    color: white;
    padding: 30px;
    text-align: center;
}